@value colors: "../../styles/colors.css";
@value primary_color from colors;

@font-face {
  font-family: "SFProText";
  src: url(../../assets/fonts/SFProText-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "SFProText-Medium";
  src: url(../../assets/fonts/SFProText-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "SFProText-Bold";
  src: url(../../assets/fonts/SFProText-Bold.ttf) format("truetype");
}

.container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.loader {
  font-family: 'SFProText';
  font-size: 16px;
  color: #a0aec0;
  height: 300px;
  line-height: 300px;
}

.list {
  background: #ffffff;
  border-radius: 8px;
  width: 800px;
  overflow: hidden;
  height: 100%;
  position: relative;
}