@font-face {
  font-family: "SFProText";
  src: url(../../assets/fonts/SFProText-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "SFProText-Bold";
  src: url(../../assets/fonts/SFProText-Bold.ttf) format("truetype");
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 12px;
  overflow: hidden;
  max-height: 100%;
  box-sizing: border-box;
  padding-bottom: 0;
}

.header {
  width: 100%;
}

.list {
  width: 100%;
  overflow: scroll;
}

.loadMoreBtn {
  font-family: 'SFProText-Bold';
  margin: 12px 8px 0 8px;
  padding: 24px;
  background-color: white;
  width: 784px;
  border: none;
  outline: none;
  color: rgba(71, 93, 229, 1);
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.paginationButtons {
  border: none;
  outline: none;
  color: rgba(71, 93, 229, 1);
  cursor: pointer;
  background-color: white;
  font-family: 'SFProText-Bold';
  opacity: 0.8;
  padding: 8px;
  margin-left: 4px;
  border-radius: 4px;
}

.paginationButtons:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.paginationButtons:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}